                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOverview">
                       <%= name %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOverview" class="panel-collapse collapse in">
                      <div class="panel-body" id="overview_panel">
			<p><%= description %></p>
                      </div>
                    </div>
                  </div>
<!--
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNews">
                          News
                        </a>
                      </h4>
                    </div>
                    <div id="collapseNews" class="panel-collapse collapse">
                      <div class="panel-body" id="news_panel">
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseReviews">
                          Reviews
                        </a>
                      </h4>
                    </div>
                    <div id="collapseReviews" class="panel-collapse collapse">
                      <div class="panel-body" id="review_panel">
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseLinks">
                          Links
                        </a>
                      </h4>
                    </div>
                    <div id="collapseLinks" class="panel-collapse collapse">
                      <div class="panel-body" id="link_panel">
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">
                          Information
                        </a>
                      </h4>
                    </div>
                    <div id="collapseInfo" class="panel-collapse collapse">
                      <div class="panel-body" id="info_panel">
                      </div>
                    </div>
                  </div>
                </div>
 -->
