<p>
<strong><em>MappedInDC</em></strong> is a map of companies in the Washington, DC metro area that leverages the LinkedIn API platform.
</p>
<p>
Visit us on Twitter <a href="https://twitter.com/MappedInDC" target="_blank">@MappedInDC</a>
</p>
<p>
  Please click one of the companies on the map. 
</p>
<p class="text-muted">
<i>You may use the map while data is being rendered. Your next visit will be significantly faster as we cache redundant data in your browser while honoring each provider's Terms of Service.</i>
</p>
<p class="well text-warning">
Changes made on this site will also update your LinkedIn profile. These updates will be displayed in your activity feed to your connections. 
<br/><br/>
<small>If needed, please turn off your activity broadcasts in 'Privacy &amp; Settings' &gt; 'Privacy Controls': 'Turn on/off your activity broadcasts' and 'Select who can see your activity feed'.</small>
</p>
<p class="text-muted center">
<span class="label label-default">Really optimized for <a href="https://google.com/chrome" target="_blank">Google Chrome</a>.</span>
</p>
